<style type="text/css">
  .form .register-form {
  display: inline;
}
.form .login-form {
  display: none;
}
</style>


<div class="login-page"><!-- Login Page -->
<div class = "form">

  <!-- render registration form -->
    <%= render :partial => "/devise/partials/register_form"%>
  <!-- end register form -->
  <!-- Login Form Begin -->
    <%= render :partial => "/devise/partials/login_form"%>


 </div> 
</div><!-- End Login Page -->



<!--<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @validatable %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>-->
