

<%= form_for(resource, as: resource_name, url: session_path(resource_name), :html => {:class => 'login-form'}) do |f| %>
      <p class="notice"><%= notice %></p>
      <p class="alert alert-danger"><%= alert %></p>
        <%= f.email_field :email, autofocus: true , placeholder: "email"%>
        <%= f.password_field :password, autocomplete: "off", placeholder:"password" %>
       
        <% if devise_mapping.rememberable? -%>
          <div class="field">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          </div>
        <% end -%>

        <div class="actions">
          <%= f.submit "Log in" , class: 'button'%>
        </div>
        
        <p class="message">Not registered? <a href="#">Create an account</a></p>

<% end %><!-- Login Form End -->