<!--<div class = "container">
	<% if flash[:cart_notice] %>
	  <%= render :partial => "carts/partials/cart_notice" %>
	<% end %>
  	<h3>Your Shopping Cart</h3>

	<table class="table table-bordered">
	    <thead>
		    <tr>
				<th>ID</th>
				<th>Status</th>
				<th>Price</th>
				<th>Qty</th>
				<th>Created at</th>
				<th>Updated at</th>
		    </tr>
	    </thead>

	    <tbody>
		    <% for order in @orders %>
				<tr>
				<td align="right"><%= order.id %></td>
				<td align="right"><%= order.status %></td>
				<td align="right"><%= order.total %></td>
				<td align="right"><%= order.photos.size %></td>
				<td align="right"><%= order.created_at.strftime("%Y-%m-%d %I:%M") %></td>
				<td align="right"><%= order.updated_at.strftime("%Y-%m-%d %I:%M") %></td>
				<td><%= link_to "View", admin_order_path(order) %></td>
				</tr>
			<% end %>
		</tbody>

	    <tfoot>
	    </tfoot>
	</table>
</div>-->


 <!--main content start-->
    <section id="main-content">
        <section class="wrapper">
        <!-- page start-->
            <div class="row">
            <div class="col-sm-12">
                <section class="panel">
                    <header class="panel-heading">
                        All Orders
                        <span class="tools pull-right">
                            <a href="javascript:;" class="fa fa-chevron-down"></a>
                            <a href="javascript:;" class="fa fa-cog"></a>
                            <a href="javascript:;" class="fa fa-times"></a>
                         </span>
                    </header>
                    <div class="panel-body">
                        <table class="table  table-hover general-table">
                            <thead>
                            <tr>
                                <th> Id</th>
                                <th>Price</th>
                                <th>Qunatity</th>
                                <th >Status</th>
                                <th>Created At</th>
                            </tr>
                            </thead>
                            <tbody>
                       
                           		<%= render :partial => @orders %>  
                            </tbody>
                        </table>
                    </div>
                </section>
            </div>
        </div>
            
        <!-- page end-->
        </section>
    </section>
    <!--main content end-->

