   <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="post-container">
              <div class="post-option">
                <ul class="list-options">

                  <li><%= link_to 'Details', photo %></li>
                  <li><%= link_to 'Edit', edit_photo_path(photo) %></li>
                  <li><%= link_to 'Destroy', photo, method: :delete, data: { confirm: 'Are you sure?' } %></li>
                  
                </ul>
              </div>
              <div class="post-image">
                <a href="<%=  photo.image.url(:large)%>" class="img-group-gallery" title=""><%= image_tag photo.image.url(:medium), :class => "img-responsive" %><!--<img src="img/fransisca-post-image01.jpg" class="img-responsive" alt="fransisca gallery">--></a>
              </div>
              <div class="post-meta">
                <button type="button" class="btn btn-success btn-block">Take Print</button>
              </div>
              <div class="post-desc">
                <i class="fa fa-tags"></i> Tags : <a href="#">Tower</a>, <a href="#">City</a>, <a href="#">Building</a>
              </div>
            </div>
    </div>