<!DOCTYPE html>
<html>
<head>
  <title>PicturePerfect</title>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <link href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,700,600" rel="stylesheet" type="text/css">
</head>
<body>

<!-- Error Messages only shown for logged in windows-->
<% if user_signed_in? %>

	<% if notice %>
	<p class="alert alert-info"><%= notice %></p>
	<% end %>

	<% if alert %>
	<p class="alert alert-danger"><%= alert %></p>
	<% end %>

	<%= render :partial => "partials/header" %>

<% end %>
<!-- End Error Messages -->

<%= yield %>

</body>
</html>
